#root {
  margin: 0 auto;
  padding: 0rem;
  background-color: #e3f2fd;
}

.pageLayout {
  padding: 20px;

  min-height: 1000px;
}
/* Profiles */

.profilesDiv {
  display: flex;
  margin-top: 10px;
  height: 300px;
}

.profilesDivFull {
  background-color: white;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.g-4 {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  font-size: smaller;
}
.profilesImgDiv {
  display: flex;
  align-items: center;
  justify-content: right !important;
  padding-left: 40px;
}
.profilesDivRight {
  padding: 20px;
}
.profilesDivAbout {
  margin: 10px 0px 10px 0px;
}

.flags {
  width: 40px;
  border-style: solid;
}
.levelIcons {
  color: rgb(112, 112, 255);
  font-size: smaller;
}

/* ProfileDetails */

.profileInfoContainer,
.profileAboutContainer {
  margin-top: 20px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 25px;
}

/* Register */
.registerForm {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.registerbutton,
.validationMessage {
  margin: 10px 0px 10px 0px;
}
.headline {
  text-align: center;
}

/* MYPROFILE */

/* .updateProfileDiv {
  display: flex;
  flex-direction: row;
} */
.aboutDiv {
  border-radius: 25px;
  padding: 20px;
  background-color: white;
}
.movielistDiv {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: left;
}

.postedImages {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: left;
}

.postedImagesFullDiv {
  margin-top: 20px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 25px;
}

.movieListFullDiv {
  margin-top: 20px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 25px;
}
.userInfoDiv {
  padding: 20px;
  background-color: aliceblue;
  border-radius: 25px;
}
/* CHATROOM */
.chatroomMessage {
  background: white;
  color: black;
  border-radius: 20px;
  align-self: flex-start;
  width: 30rem;
  font-size: larger;
}
.chatroomImageNameDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: larger;
}
/* .chatroomSection {
  padding: 50px;
  display: flex;
  justify-content: center;

} */
