#root {
  margin: 0 auto;
  padding: 0rem;
  background-color: #e3f2fd;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@media screen and (max-width: 450px) {
  .pageLayout {
    padding: 10px;
    min-height: 1000px;
    
  }
}
@media screen and (min-width: 451px) {
  .pageLayout {
    padding: 50px;
    min-height: 1000px;
  }
}



/* ProfileDetails */

.profileInfoContainer,
.profileAboutContainer {

  padding: 20px;
  background-color: aliceblue;
  border-radius: 25px;
  margin-bottom: 20px;
}
.profileDetailImageDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}


/* Register */
.registerForm {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.registerbutton,
.validationMessage {
  margin: 10px 0px 10px 0px;
}
.headline {
  text-align: center;
}

/* MYPROFILE */

/* .updateProfileDiv {
  display: flex;
  flex-direction: row;
} */
.aboutDiv {
  border-radius: 25px;
  padding: 20px;
  background-color: white;
}
.movielistDiv {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: left;
}

.updateDeleteButtons {
  margin-top: 10px;
  display: flex;
  gap:10px;
}
.postedImages {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: left;
}

.postedImagesFullDiv {
  margin-top: 20px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 25px;
}

.movieListFullDiv {
  margin-top: 20px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 25px;
}
.userInfoDiv {
  padding: 20px;
  background-color: aliceblue;
  border-radius: 25px;
}

/* CHATROOM */
.chatroomMessage {
  background: white;
  color: black;
  border-radius: 20px;
  align-self: flex-start;
  width: 30rem;
  font-size: larger;
}
.chatroomImageNameDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: larger;
}

@media screen and (max-width: 450px) {
  .chatroomSection {
    padding: 10px;
    font-size: 16px;
  }
  .chatTextDiv {
    padding: 10px !important;
  }
  .chatroomAuthorAndDate {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 14px;
  }
}

@media screen and (min-width: 451px) {
  .chatroomAuthorAndDate {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 16px;
  }
  .chatTextDiv {
    padding: 15px !important;
  }
}

#form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
}

/* footer */
.footerDiv {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  background-color: rgb(99, 99, 255);

  align-items: center;
}
.footerDiv img {
  margin-bottom: 10px;
}

/* home */

.homeHeadtitle, .homeText{
  text-shadow: 1px 2px whitesmoke;
  color: darkblue;
}
.homeImage {
  opacity: 0.4;
}

.uploadImage{
margin: 20px;
}