/* Movie details */



.movieLanguageLevel, .ratings {
    display: flex;
    flex-direction: row;
  
   align-items: center;
   margin-bottom: 10px;
  
  }
   

  
  .movieCommentsDiv {
    background-color: rgb(174, 200, 222);
    border-radius: 20px;
    padding: 20px;
  }
  .movieInfoContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }
  .movieTitel {
    text-shadow: 2px 2px rgba(77, 75, 75, 0.395);
  }
  .movie-details-container {
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-direction: row;
  }
  .dateAndTimeDiv {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  

  .addCommentDiv {
    padding-top: 40px;
  }
  .commentNameDate {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }
  /* .deleteButtonComment{
     align-self: flex-end;
  } */
  
  .commentLevelRating {
    display: flex;
    flex-direction: row;
 
  
  }
  .commentRating {
    display: flex;
    flex-direction: row;
  }
  

  .commentEachDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
  }
  .commentUpperPart {
    display: flex;
    flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;

}

.movieCommentsAll {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

  @media screen and (max-width: 450px) {
    .movieCommentsAll {
      font-size: 14px;
    }
    .movieContainerAll {
     
      justify-content: center;
      gap: 10px;
      padding: 10px;
      font-size: smaller;
  }
  .buttonsDiv {
   
    font-size: 10px;
  }
  .movie-details-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
  @media screen and (min-width: 451px) {
    .movieCommentsAll {
      font-size: 20px;
    }
    .movieContainerAll {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 30px;
    }
    .buttonsDiv {
      display: flex;
      gap: 5px;
    }
  }
  
   .ratingDiv {
    padding: 0px 50px 0px 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 30;
  }
  .commentImageNamePart {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .commentMiddlePart{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    /* overflow: hidden;
    text-overflow: ellipsis; */
   
  }